.vertical,
.horizontal {
  display: grid;
  position: absolute;
}

.vertical {
  top: 0.5rem;
  left: -1.5rem;
  height: 100%;
}

.horizontal {
  top: -1.3rem;
  text-align: center;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
}
