@import "../../styles//GlobalStyles.module.scss";

.cell {
  border: 1px solid $cellColor;
  cursor: pointer;
  user-select: none;

  &.destroyed {
    background-color: rgb(250, 250, 214);
  }

  @media (prefers-color-scheme: dark) {
    & {
      border: 1px solid rgba(white, 0.3);
    }
  }
}

.used {
  background-color: black;
}

.selected {
  border: 1px solid $positiveColor;
  background-color: rgba($positiveColor, 0.15);
}

.canNotPlace {
  border: 1px solid $negativeColor;
  background-color: rgba($negativeColor, 0.15);
}

.setted {
  @include shipAppear;
  @media (prefers-color-scheme: dark) {
    & {
      background-color: #fff;
    }
  }
}

.missed,
.destroyed,
.completelyDestroyed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
}

.destroyed {
  position: relative;
  height: 100%;
  width: 100%;
  &::before,
  &::after {
    background-color: $shootedColor;
    width: 100%;

    height: 2px;
  }
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.missed {
  position: relative;
  height: 100%;
  width: 100%;

  &::before {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: $missedDotColor;
    @media (prefers-color-scheme: dark) {
      & {
        background-color: $missedDotColorReversed;
      }
    }
  }
}

.completelyDestroyed {
  border: 2px solid $shootedColor;
}
