@import "../../styles//GlobalStyles.module.scss";

.cell {
  border: 1px solid $cellColor;
  cursor: pointer;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    & {
      border: 1px solid $cellColorReversed;
    }
  }
}

.missed,
.destroyed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
}
.missed {
  position: relative;
  height: 100%;
  width: 100%;

  &::before {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: $missedDotColor;
    @media (prefers-color-scheme: dark) {
      & {
        background-color: $missedDotColorReversed;
      }
    }
  }
}
.destroyed::before {
  position: relative;
  height: 100%;
  width: 100%;
}

.destroyed {
  position: relative;
  height: 100%;
  width: 100%;
  &::before,
  &::after {
    width: 100%;
    height: 2px;
    background-color: red;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.completelyDestroyed {
  border: 2px solid red;
}
