@import "../../../styles//GlobalStyles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  user-select: none;
  @media (max-width: $smallScreen) {
    & {
      order: 3;
    }
  }
}

.partner__board-inner {
  position: relative;
}

.board {
  position: relative;
  display: grid;
  grid-template: repeat(10, 2rem) / repeat(10, 2rem);
  user-select: none;
  margin: 1.5rem 0;
  @media (max-width: $smallScreen) {
    & {
      grid-template: repeat(10, 1.5rem) / repeat(10, 1.5rem);
    }
  }
}

.disabled {
  opacity: 0.3;
  @media (max-width: $smallScreen) {
  }
}
