$shipColor: #148bcf;
$positiveColor: green;
$negativeColor: red;
$mainUnsetColor: gray;
$mainBorderColor: rgba($mainUnsetColor, 0.015);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  @media (prefers-color-scheme: dark) {
    & {
      color: white;
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  gap: 30px;

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
