$shipColor: #148bcf;
$positiveColor: green;
$negativeColor: red;
$mainUnsetColor: gray;
$mainBorderColor: rgba($mainUnsetColor, 0.015);
$cellColor: rgb(116 119 183 / 30%);
$mainBorderOpacity: 0.015;
$mainBorder: 2px solid;
$defaultColor: #fff;
$defaultDisabledColor: lightgray;

@mixin shipAppear {
  background-color: rgba($shipColor, $mainBorderOpacity);
  border: $mainBorder $shipColor;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  @media (prefers-color-scheme: dark) {
    & {
      color: white;
    }
  }
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  gap: 30px;

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
