@import "../../styles/GlobalStyles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 220px;
  gap: 20px 0;

  @media (max-width: $smallScreen) {
    & {
      order: 2;
    }
  }
}

.port {
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.dock {
  display: flex;
  justify-content: space-around;
}
