@import "../../../styles//GlobalStyles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;

  @media (max-width: $smallScreen) {
    & {
      order: 1;
    }
  }
}

.board {
  margin: 1.5rem 0;
  position: relative;
  display: grid;
  grid-template: repeat(10, 2rem) / repeat(10, 2rem);
  user-select: none;
  @media (max-width: $smallScreen) {
    & {
      grid-template: repeat(10, 1.5rem) / repeat(10, 1.5rem);
    }
  }
}

.container__selectable {
  user-select: none;
}
